
body {
  margin: 0;
  padding: 0;
}

header {
  background-color: orange;
  padding: 10px;
}

h1 {
  color: lightgreen;
}

main {
  padding: 16px;
}

footer {
  background-color: lightgreen;
  padding: 48px 0; 
}

img {
  height: 200px;
}

nav {
  padding: 16px;
}

.recipes_list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px; 
  padding: 20px;
}

.recipe-item {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr;
}

.recipe-item a {
  text-decoration: none; 
  color: green; 
}

.recipe-item:nth-child(even) {
  background-color: #f0f0f0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th, table td {
  border: 1px solid #ccc;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #f0f0f0;
}